.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1448px;
  height: 643px;
  margin: 0 auto;
}
.rectangle {
  position: absolute;
  width: 1448px;
  height: 643px;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
}
.auto-layer-row {
  position: relative;
  width: 1385px;
  height: 47px;
  margin: 18px 0 0 35px;
  z-index: 11;
}
.screenshot-at {
  position: absolute;
  width: 41px;
  height: 47px;
  top: 0;
  left: 0;
  background: url(./assets/images/52f3e1da-e216-454e-93e6-2a2baf9c2ba2.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.regroup {
  position: absolute;
  width: 111px;
  height: 47px;
  top: 0;
  left: 1274px;
  z-index: 11;
}

.login {
  position: absolute;
  height: 17px;
  top: 6px;
  left: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(99, 220, 225);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  z-index: 7;
}
.signup {
  position: absolute;
  height: 17px;
  top: 6px;
  left: 63px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(99, 220, 225);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  z-index: 11;
}
.minex {
  position: absolute;
  height: 36px;
  top: 3px;
  left: 52px;
  font-family: Marvel, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(99, 220, 225);
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  z-index: 6;
}
.empower-your-exploration {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 48px 0 0 472px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(99, 220, 225);
  font-size: 32px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  z-index: 10;
}
.seamlessly-manage-projects {
  display: inline-block;
  position: relative;
  height: 36px;
  margin: 69px 0 0 477px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(99, 220, 225);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: center;
  z-index: 8;
}
.auto-layer-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 781px;
  height: 78px;
  margin: 123px 0 0 343px;
  z-index: 14;
}
.rectangle-1 {
  flex-shrink: 0;
  position: relative;
  width: 205px;
  height: 78px;
  background: rgb(99, 220, 225);
  z-index: 12;
  border-radius: 5px;
}
.manage-clients {
  position: absolute;
  height: 18px;
  top: 32px;
  left: 37px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: center;
  z-index: 17;
}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 205px;
  height: 78px;
  background: rgb(99, 220, 225);
  z-index: 13;
  border-radius: 5px;
}
.create-projects {
  position: absolute;
  height: 18px;
  top: 32px;
  left: 35px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: center;
  z-index: 18;
}
.rectangle-3 {
  flex-shrink: 0;
  position: relative;
  width: 205px;
  height: 78px;
  background: rgb(99, 220, 225);
  z-index: 14;
  border-radius: 5px;
}
.track-locations {
  position: absolute;
  height: 18px;
  top: 32px;
  left: 33px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: center;
  z-index: 19;
}
.rectangle-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 140px;
  height: 40px;
  margin: 39px 0 0 984px;
  background: rgb(0, 0, 0);
  z-index: 16;
  border-radius: 10px;
}
.get-started {
  flex-shrink: 0;
  position: relative;
  height: 18px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(99, 220, 225);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  z-index: 16;
}
.copyright-mixex {
  display: inline-block;
  position: relative;
  height: 15px;
  margin: 96px 0 0 18px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.523px;
  text-align: left;
  z-index: 9;
}
.pic-2 {
  position: absolute;
  width: 1448px;
  height: 536px;
  top: 107px;
  left: 0;
  background: url(./assets/images/03bcb51b-1627-485f-8a00-994b70ef595a.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
