*{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(/img/mountains.png)
    no-repeat center;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  height: 97vh;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.navbar-right  {
    cursor: pointer;
    margin: auto;
    margin-right: 0;
}

.logo {
    font-size: 1.5rem;
    color: rgb(99, 220, 225);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: .5s ease;
    padding: 10px;
    justify-content: space-between;
}
.logo:hover{
    color: rgb(16, 82, 86);
    transition: ease 0.5s;
}

#login:hover{
    color: rgb(16, 82, 86);
    transition: ease 0.5s;
}
#signup:hover {
    color: rgb(16, 82, 86);
    transition: ease 0.5s;
}

.logo img {
    width: 35px;
    vertical-align: middle;
    padding-right: 10px;
}

#login, 
#signup {
font-size: 1rem;
text-decoration: none;
cursor: pointer;
margin: auto;
font-weight: 500;
padding: 20px;
color:rgb(99, 220, 225);
}

.heroSection {
    width: 100%;
    margin: auto;
    height: 85vh;
}
.heroContent {
    display:block;
    margin: auto;
    max-width: 75%;
    height:auto;
    padding: 1%;
    height: 75vh;
}
 
.heroContent h1{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    color:  rgb(99, 220, 225);;
}
.heroContent p{
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    width: 65%;
    margin: auto;
    color:  rgb(99, 220, 225);
}

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 0;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:  25px;
    border-radius: 5px;
    align-items: center;
    margin: 0;
}
.card:first-child {
        background: rgb(99, 220, 225);
}

.card:nth-child(2) {
   background: rgb(99, 220, 225);
}

.card:nth-child(3) {
   background: rgb(99, 220, 225);
}

.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-icons-outlined {
    font-size: 2.5rem;
    padding: 10px;
}

.getStarted {
    border-radius: 20px;
    padding: 8px;
    color: rgb(99, 220, 225);
    font-weight: 500;
    width: 150px;
    margin-top: 50px;
    transition: 0.5s;
    border:rgb(99, 220, 225) 1px solid;
}

.getStartedBtn {
margin-right: 0;
text-align: right;

}

.heroContent .getStarted {
    background-color: rgb(0, 0, 0);
}
.getStarted:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: translateY(-5px);
    color: rgb(16, 82, 86);
}
/*footer section*/
.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

/*------------------------------------- LOGIN PAGE--------------------------------------*/
.main-login-body,
.main-create-account-body {
    display: flex;
    height: 85vh;
    color: rgb(99, 220, 225);
    align-content: center;
    align-items: center;
    margin: auto;
}

.login-container,
.create-account-container, .password-reset-container {
    display: flex;
    max-width: 375px;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    height: auto;
}
.password-reset-container {
    height: auto;
    margin: auto;
    margin-top: 10%;
}

.login-form,
.create-account-form, .reset-password-form {
    padding: 10px;
    width: 100%;
}

.login-form h1,
.create-account-form h1, .reset-password-form h1 {
    text-align: center;
    font-size: 1rem;
}

.login-btn, 
.create-account-btn, .reset-btn {
    background-color: rgb(99, 220, 225);
    color: rgb(0, 0, 0); 
    border: none;
    border-radius: 10px;
    padding: 10px 20px; /* Increase padding for a larger button */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 500;
    width: auto; /* Adjust the button width as needed */
    margin: 20px;
  
}

.login-btn:hover, .reset-btn:hover, .create-account-btn:hover {
    background-color: rgb(16, 82, 86); /* Hover color */
    transform: translateY(-5px);
    transition: ease 0.3s;
}

.client-name {
    margin: 10px;
}

.remember-forgot {
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; /* Increase margin for spacing */
    color: rgb(0,0,0);
    font-weight: 400;
}

.remember-forgot a {
    text-decoration: none;
    color:  rgb(99, 220, 225);
    font-size: 0.9rem; /* Adjust the font size as needed */
    margin-left: 10px; /* Increase left margin for spacing */
}

.remember-forgot label {
    color: rgb(99, 220, 225); /* your desired color */;
}

#login-form-reg-link {
    color:  rgb(99, 220, 225);
}

/*----------------------CREATE ACCOUNT PAGE--------------------*/
.create-account-container {
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 50vh;
}
.main-create-account-body {
    height: 40vh;
    margin-top: 0;
}
.main-reset-body {
    height: 75vh;
}

.register-link a, 
.login-link a {
    text-decoration: none;
    margin: auto;
    padding: 10px;
}
.register-link, 
.login-link {
    display: flex;
}
.remember-forgot checkbox {
    border-radius: 6px;
    padding: 10px;
    margin: 2px;
}

  /* Add the following styles for the login area */
body.login {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-create-account-body {
    height: 75vh;
    margin-top: 0;
}
.success-message {
    color: #2e7d32;
    margin:auto;
    font-weight: 500;
    text-align: center;
}
#success-message {
    text-align: center;
    color: #2e7d32;
    margin:auto;
    font-weight: 500;
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.loginForm, .create-account-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

.label {
    font-size: 1rem;
    font-weight: 700;
    color: #0074D9;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

.error-message {
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

#error-message {
    color: red;
    font-size: 1rem;
    font-weight: 500;
    margin:auto;
    max-width: 50%;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: rgb(99, 220, 225);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 500;
}

.button:hover {
    background-color: rgb(99, 220, 225);
}

.pw-reset-form-title {
    color:  rgb(99, 220, 225);
}
