*{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    position: relative;
    background-color: #fff;
    margin: auto;
}
.navbar{
    display: flex;
    padding: 5px;
    background-color: #fff;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    color: rgb(28, 28, 59); 
}

.logo {
    font-size: 2.5rem;
    color: rgb(28, 28, 59);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
    margin: auto;
}
.resources, 
.contact, 
.pricing,
.login, 
.signup {
font-size: 1rem;
text-decoration: none;
cursor: pointer;
margin: auto;
font-weight: 700;
color: rgb(28, 28, 59);
text-align: center; 
}
.heroSection {
    background-image:url("/img/eberhard-grossgasteiger-cs0sK0gzqCU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:75vh;
    width: 100%;
    margin: 0;
}
.heroContent{
    display:block;
    margin: auto;
    max-width: 75%;
    height: 100%;
    padding: 1%;
}
 
.heroContent h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.75;
    color: #fff;
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;

}
.heroContent p{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    width: 65%;
    margin: auto;
}
.getStarted {
    border-radius: 20px;
    padding: 8px;
    color: #fff;
    font-weight: 700;
    width: 150px;
    margin-top: 50px;
    transition: 0.5s;
}

.heroContent .getStarted {
    background-color: #7C715E;
}
.getStarted:hover{
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
/*footer section*/
.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    align-items: last baseline;
}
.socialIcons{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.linkedin,
.instagram, 
.meta,
.twitter{
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(28, 28, 59);
    font-weight: 700;
} 
.newsletter h4{
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
}
.subscriptionForm{
    width: 100%;
}
.subscriptionForm input{
    border: 2px solid rgb(28, 28, 59);
    border-radius: 10px;
    justify-content: space-between;
    width: 200px;
    padding: 8px;
    color: rgb(28, 28, 59);
    font-weight: 700;
}


