*{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #fff;
    margin: auto;
    justify-content: space-between;
}
.navbar{
    display: flex;
    background-color: #fff;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    color: rgb(28, 28, 59);
}
.navbar-left {
    cursor: pointer;
    margin-left: 33%;
    margin-right: auto;
}
.navbar-right  {
    cursor: pointer;
    margin: auto;
    margin-right: 0;
}

.logo {
    font-size: 1.5rem;
    color: #2962ff;;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
    padding: 10px;
    justify-content: space-between;
}
.logo:hover{
    color:#ff6d00;
    transition: ease 0.5s;
}

#resources:hover{
    color: #ff6d00;
    transition: ease 0.5s;
}
#contact:hover{
    color: #d50000;
    transition: ease 0.5s;
}
#pricing:hover{
    color: #2962ff;
    transition: ease 0.5s;
}
#login:hover{
    color: #d50000;
    transition: ease 0.5s;
}
#signup:hover {
    color: #aa176f;
    transition: ease 0.5s;
}
#resources, 
#contact, #pricing
{
font-size: 1rem;
text-decoration: none;
cursor: pointer;
margin: auto;
font-weight: 700;
color: #2e7d32;
padding: 20px;
justify-content: space-between;
}

#login, 
#signup {
font-size: 1rem;
text-decoration: none;
cursor: pointer;
margin: auto;
font-weight: 700;
padding: 20px;
color: #ff6d00
}

.heroSection {
    height: 80vh;
    width: 100%;
    margin: auto;
}
.heroContent {
    display:block;
    margin: auto;
    max-width: 75%;
    height:auto;
    padding: 1%;
}
 
.heroContent h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.75;
    margin-top: 5%;
    margin-bottom: auto;
    text-align: center;

}
.heroContent p{
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    width: 65%;
    margin: auto;
}

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 0;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:  25px;
    border-radius: 5px;
    align-items: center;
    margin: 0;
}
.card:first-child {
    /*background-color: #2962ff;*/
    border: #2962ff solid 4px;
}
.card:first-child:hover{
    transform: translateY(-5px);
}
.card:nth-child(2) {
   /* background-color: #ff6d00;*/
    border: #ff6d00 solid 4px;
}
.card:nth-child(2):hover{
    transform: translateY(-5px);
}

.card:nth-child(3) {
   /* background-color: #2e7d32;*/
    border:#2e7d32 solid 4px;
}
.card:nth-child(3):hover{
    transform: translateY(-5px);
}
.card:nth-child(4) {
    /*background-color:  #d50000;*/
    border:#d50000 solid 4px;
}
.card:nth-child(4):hover{
    transform: translateY(-5px);
}
.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-icons-outlined {
    font-size: 2.5rem;
    padding: 10px;
}

.getStarted {
    border-radius: 20px;
    padding: 8px;
    color: #fff;
    font-weight: 700;
    width: 150px;
    margin-top: 50px;
    transition: 0.5s;
}

.heroContent .getStarted {
    background-color:#0074D9;;
}
.getStarted:hover{
    color: #ff6d00;
    transition: 0.5s;
    cursor: pointer;
    transform: translateY(-5px);
}
/*footer section*/
.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    align-items: last baseline;
}
.socialIcons{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.linkedin,
.instagram, 
.meta,
.twitter{
    text-decoration: none;
    font-size: 1rem;
    color: rgb(28, 28, 59);
    font-weight: 700;
    padding: 20px;
} 
.newsletter h4{
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
}
.subscriptionForm{
    width: 100%;
    margin-right: 20px;
}
.subscriptionForm input{
    border: 2px solid rgb(28, 28, 59);
    border-radius: 10px;
    justify-content: space-between;
    width: 300px;
    padding: 8px;
    color: rgb(28, 28, 59);
}

/* login page----*/
.main-login-body,
.main-create-account-body {
    display: flex;
    height: 80vh;
    color: rgb(28, 28, 59);
    margin: 0;
}

.main-login-body .login, 
.main-create-account-body {
    display: flex;
    align-content: center;
    align-items: center;
    margin: auto;
}

.login-container,
.create-account-container {
    display: flex;
    max-width: 375px;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.login-form,
.create-account-form {
    padding: 10px;
    width: 100%;
}
.login-form h1,
.create-account-form h1 {
    text-align: center;
    font-size: 1rem;
}
.login-input-box, 
.create-account-input-box {
    margin: auto;
    padding: 10px;
}
.login-form button, 
.create-account-btn {
    background-color: #0074D9; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 10px;
    padding: 10px 20px; /* Increase padding for a larger button */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 700;
    width: auto; /* Adjust the button width as needed */
    margin: 20px;
  
}

.login-form button:hover {
    background-color: #0056b3; /* Hover color */
    transform: translateY(-5px);
}

.client-name {
    margin: 10px;
}

.remember-forgot {
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; /* Increase margin for spacing */
}

.remember-forgot a {
    text-decoration: none;
    font-size: 0.9rem; /* Adjust the font size as needed */
    margin-left: 10px; /* Increase left margin for spacing */
}


.register-link a, 
.login-link a {
    text-decoration: none;
    margin: auto;
    padding: 10px;
}
.register-link, 
.login-link {
    display: flex;
}
.remember-forgot checkbox {
    border-radius: 6px;
    padding: 10px;
    margin: 2px;
}

.create-account-btn:hover {
   transform: translateY(-5px);
}
/*Ressources Page*/
.resources-main-body {
    height: 65vh;
}




/* Use WebP background image for modern browsers */
@media (min-width: 768px) {
    .my-element {
      background-image: url('/img/eberhard-grossgasteiger-cs0sK0gzqCU-unsplash\ \(2\).jpg');
    }
  }


  /* Add the following styles for the login area */
body.login {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

h2.text-center {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0074D9;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

.label {
    font-size: 1rem;
    font-weight: 700;
    color: #0074D9;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
}

.button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 700;
}

.button:hover {
    background-color: #0056b3;
}